@import "main.css";

#principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  color: var(--text);
}

.ejerciciosCss {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
  justify-items: center;
  align-items: center;
}

.containerEjercicioCss {
  text-decoration: none;
  color: var(--text);
  width: 15vw;
  height: 15vw;
  padding: 2rem;
  border: 1px solid var(--primary);
  border-radius: 1rem;
  transition: transform 1s ease-in-out;
}

.containerEjercicioCss:hover {
  transition: transform 1s ease-in-out;
  transform: scale(1.1);
  width: 100%;
  height: 100%;
}

.ejercicioCss {
  filter: drop-shadow(0 0 0.75rem var(--primary));
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .juegos {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }

  .containerEjercicioCss {
    width: 50vw;
    height: 50vw;
  }

  .containerEjercicioCss:hover {
    transform: scale(1.25);
  }

  #titulo {
    text-align: center;
  }
}

.containerEjercicioCss {
  transition: transform 1s ease-in-out;
}

.containerEjercicioCss:hover {
  transition: transform 1s ease-in-out;
  transform: scale(1.1);
}

#containerEjercicioFondo:hover {
  background: var(--crt);
  clip-path: ellipse(50% 50% at 50% 50%);
  font-size: larger;
  font-weight: bolder;
  color: var(--secondary);
}
