@import "colours.css";
@import "fonts.css";
@import "switch.css";
@import "footer.css";
@import "navbar.css";

* {
  margin: 0;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

body {
  background-size: cover;
}
