* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#navegacion, .topnav {
    background-color: darkslateblue;
    overflow: hidden;
}

#navegacion a, .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navegacion a:hover {
    background-color: black;
    color: white;
}

#navegacion a.active {
    background-color: purple;
    color: white;
}

#navegacion .icon {
    display: none;
}

#principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1b1736;
    padding: 1rem;
    color: white;
    height:100vh;
}

.juegos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    justify-items: center;
    align-items: center;
    height:100vh;
}

.juegoLink {
    text-decoration: none;
    color: white;
}