#canvasMolinillo {
    border: 1px solid black;
    background-color: #000000;
    margin: 0 auto;
    display: block;
    height: 90vh;
}

@media screen and (max-width: 800px) {
    #canvasMolinillo {
        height: auto;
        width: 100%;
    }
}