#navegacion,
.topnav {
  background-color: var(--background) no-repeat center center fixed;
  overflow: hidden;
}

#nav-flex-container {
  display: flex;
  justify-content: space-between;
}

#containerSwitch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  position: relative;
}

#lightIcon {
  background: url(../img/sun.svg) no-repeat center;
}

#darkIcon {
  background: url(../img/dark.svg) no-repeat center;
}

#lightIcon,
#darkIcon {
  transition: filter 0.5s ease;
}

[data-theme="dark"] #darkIcon,
[data-theme="dark"] #lightIcon {
  filter: invert(1);
}

#navegacion a,
.topnav a,
#darkIcon,
#lightIcon,
#menuSiPequeño {
  display: inline-flex;
  align-items: center;
  color: var(--text);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navegacion a:hover,
#menuSiPequeño:hover {
  background-color: black;
  color: white;
}

#navegacion a.active,
#menuSiPequeño.active {
  background-color: var(--primary);
  color: var(--text);
}

#navegacion .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  #nav-flex-container {
    flex-direction: column;
  }

  #navegacion {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #navegacion a {
    width: 100%;
  }

  #menuSiPequeño {
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
  }

  #navegacion .icon {
    display: inline-flex;
  }

  .dropdown {
    display: none;
  }

  #containerSwitch {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
  }

  #menuSiPequeño {
    display: block;
  }
}

@media screen and (min-width: 800px) {
  #menuSiPequeño {
    display: none;
  }
}