<div id="nav-flex-container">
  <button id="menuSiPequeño">Menú</button>
  <div class="navegacion dropdown" id="myTopnav">
    <a href="index.html" class="active">Juegos</a>
    <a href="css.html">CSS</a>
    <a href="docs.html">Documentación</a>
    <a href="examen.html">Examen</a>
    <a href="media.html">Media</a>
    <a
      href="javascript:void(0);"
      class="icon"
      id="menuIcon"
      onclick="dropMenu()"
    ></a>
  </div>
  <div id="containerSwitch">
    <div id="darkIcon"></div>
    <label class="switch">
      <input type="checkbox" id="themeButton" />
      <span class="slider round"></span>
    </label>
    <div id="lightIcon"></div>
    <div id="avisoTema">Pulsa en el slider para cambiar de tema 🢁</div>
  </div>
</div>
